In [1]:
name = "Nainshi"
city = 'Banda'

In [2]:
print("Information about me")
print(name)
print(city)

Information about me
Nainshi
Banda

In [3]:
print('Information about me:', name, city)

Information about me: Nainshi Banda

In [5]:
print('I am',name,'and i live in', city)

I am Nainshi and i live in Banda

In [6]:
print(f"I am {name} and i live in {city} ")

I am Nainshi and i live in Banda

In [10]:
n1 = 'Amam'
c1 = 'Lucknow'
n2,c2 = 'Anjad','Lucknow'

In [14]:
#olt +shift + down for duplicating the line
print(f'{n1:^15} {c1}')
print(f'{n2:^15} {c2}')

     Amam       Lucknow
     Anjad      Lucknow

In [ ]:
print(n1,n2,)

In [ ]:
print(n1,n2, sep='\t')

In [ ]:
print(n1,n2, sep='\n')

In [17]:
print(n1,n2, sep=',')

Amam,Anjad