#builtin function
for casting data types( type conversion)
- int()
- float()
- str()
- bool()
- list()
- tuple()
- set()
- dict()
- for statistic
   - len()
   - max()
   - min()
   - sum()
- utility
   - sorted()
   - reversed()
   - zip()
   - emumerate()
   - range()
   - eval()
   - exec()
- operate on iterable
   - all()
   - any()
   - emumerate()
   - zip()
   - filter()
   - map()

In [1]:
print('hello')

hello

#builtin methods

In [2]:
x=['A','B','N','A','C','Z','D','F']
Y="This is an example string"

In [3]:
sorted(x)

['A', 'A', 'B', 'C', 'D', 'F', 'N', 'Z']

In [5]:
print(sorted(Y))

[' ', ' ', ' ', ' ', 'T', 'a', 'a', 'e', 'e', 'g', 'h', 'i', 'i', 'i', 'l', 'm', 'n', 'n', 'p', 'r', 's', 's', 's', 't', 'x']

In [7]:
sorted(x,reverse=True)

['Z', 'N', 'F', 'D', 'C', 'B', 'A', 'A']

In [9]:
sorted(Y.split(),reverse=True)

['string', 'is', 'example', 'an', 'This']

In [13]:
z ='we are working on an encyclopedia in which there will be stuff'
sorted(z.split(),key=len)

['we',
 'on',
 'an',
 'in',
 'be',
 'are',
 'will',
 'which',
 'there',
 'stuff',
 'working',
 'encyclopedia']

In [14]:
list(reversed(z))#lazy object

['f',
 'f',
 'u',
 't',
 's',
 ' ',
 'e',
 'b',
 ' ',
 'l',
 'l',
 'i',
 'w',
 ' ',
 'e',
 'r',
 'e',
 'h',
 't',
 ' ',
 'h',
 'c',
 'i',
 'h',
 'w',
 ' ',
 'n',
 'i',
 ' ',
 'a',
 'i',
 'd',
 'e',
 'p',
 'o',
 'l',
 'c',
 'y',
 'c',
 'n',
 'e',
 ' ',
 'n',
 'a',
 ' ',
 'n',
 'o',
 ' ',
 'g',
 'n',
 'i',
 'k',
 'r',
 'o',
 'w',
 ' ',
 'e',
 'r',
 'a',
 ' ',
 'e',
 'w']

In [15]:
reversed(z)# lazy object

In [16]:
list(z[::-1])

['f',
 'f',
 'u',
 't',
 's',
 ' ',
 'e',
 'b',
 ' ',
 'l',
 'l',
 'i',
 'w',
 ' ',
 'e',
 'r',
 'e',
 'h',
 't',
 ' ',
 'h',
 'c',
 'i',
 'h',
 'w',
 ' ',
 'n',
 'i',
 ' ',
 'a',
 'i',
 'd',
 'e',
 'p',
 'o',
 'l',
 'c',
 'y',
 'c',
 'n',
 'e',
 ' ',
 'n',
 'a',
 ' ',
 'n',
 'o',
 ' ',
 'g',
 'n',
 'i',
 'k',
 'r',
 'o',
 'w',
 ' ',
 'e',
 'r',
 'a',
 ' ',
 'e',
 'w']

In [19]:
z[::-1]

'ffuts eb lliw ereht hcihw ni aidepolcycne na no gnikrow era ew'

#all function used for nonzero integers number value is ture. and zero and mix integer number value is false.

In [15]:
x=[0,0,0,0,0,0]
print(all(x))

False

In [16]:
x=[1,2,3,4,5,6]
print(all(x))

True

In [7]:
x=[1,22,33,5,00,0,0]
print(all(x))

False

In [17]:
z=['this','is', '', 'example', 'string']
print(all(z))

False

#any function used for all nonzero integer number is true. and zero  is false.

In [5]:
x=[1,2,3,4,5]
print(any(x))

True

In [6]:
x=[000,0,0,0,0000000]
print(any(x))

False

*  math functions
- f(x)=x**2+x+10
- f(5)
- g(x,y)= x**2 + y**2 + x*y + 10
-g(2,3)

In [22]:
f= lambda x: x**2 + x + 10
print(f(10))
print(f(15))
print(f(25))
print(f(11))

120
250
660
142

In [2]:
f= lambda i : i**2
print(f)

<function <lambda> at 0x0000023C69B019E0>

In [24]:
f(25)

625

In [25]:
f(35)

1225

In [26]:
nums=['1','100','300','599']
clean_list= map(lambda i:int (i),nums)
print(list(clean_list))

[1, 100, 300, 599]

In [27]:
clean_list= map(int,nums)
print(list(clean_list))

[1, 100, 300, 599]

In [28]:
#map(function iteratable)

In [29]:
nums =[1,2,3,4,5,6,0,9,9,0,648,0,787]
list(filter(lambda i: i!=0,nums))

[1, 2, 3, 4, 5, 6, 9, 9, 648, 787]

In [30]:
isinstance(x,list)

True

In [33]:
isinstance(x,(list,float,tuple))

True

In [34]:
isinstance(x,(int,float))

False

In [35]:
x=[1,2,3,4,5]
y=[6,7,8,9,10,11]
list(map(lambda i, j:i*j,x,y))

[6, 14, 24, 36, 50]