- create
- indexing and slicing
- methods
- basic operation
- comprehension

In [49]:
x=[]
a=[1,2,4,6]
b=['alex','alexa','alexis']
e=['alex',12,'alexa',20,'alexis',38,]
c=[[1,2,3,4],[1,2],[1,3,4,4]]#nested list
d=[[1,2,3],[2,3,4],[1,2,3]]#nested list (equal length)

In [48]:
w=[1]*10#duplication
print(w)

w2=[1,2,3]*3
print(w2)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [47]:
a=[1,2,3]
b=[4,5,6]
c=a+b# list contenation
print(c)

[1, 2, 3, 4, 5, 6]

In [46]:
d=[a,b]# nested list
print(d)

[['4', '5', '6', '8', '9'], [1, 2, 3, 4]]

In [45]:
x=[1,2,3,4,5,6,7,8,9]
print(x[:3])
print(x[-4:])#last 4 items
print(x[3:-3])
print(x)
print(x[:-1])
print(x[::2])#all elements with odd index
print(x[1::2])#all element with even index

[1, 2, 3]
[6, 7, 8, 9]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [ ]:
print(x[0])
print(x[-1])#last element
#print(x[12])#error

In [ ]:
"one for all".split()#split string into list

In [ ]:
for i in x:
    print(i,end=' ')

methods
- add
    - append
    - extend
    - insert
- remove
    - remove
    - pop
    - clear
- helper
     - index
     - count
     - sort
     - reverse
     - copy

In [42]:
books=[]
books.append("the final empire")
books.append("the hero of ages")
books.append(" let us python")
print(books)

['the final empire', 'the hero of ages', ' let us python']

In [43]:
books.insert(1,'the way of kinds')
books.insert(2,'word of radiance')
print(books)

['the final empire', 'the way of kinds', 'word of radiance', 'the hero of ages', ' let us python']

In [38]:
crappy_books=[
    'twilight saga: new moon',
    'twilight saga: eclipse',
    'the wheel of time',
]
print(crappy_books)

['twilight saga: new moon', 'twilight saga: eclipse', 'the wheel of time']

In [ ]:
#extend function are combine the all elements. 
books.extend(crappy_books)
print(books)

In [59]:
nums=[1,2,3]
more_nums=[4,5,6,7]
nums.extend(more_nums)
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [60]:
num_matrix=[nums,nums,nums]
print(num_matrix)

[[1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7]]

In [61]:
all_num=nums + more_nums
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [36]:
a=[]

for i in range(5):
   x=input("enter the number")

   a.append(x)
print(a)

['4', '5', '6', '8', '9']

In [56]:
a=[]
b=[1,2,3,4]
#d=[7,8,9,19]
for i in range(5):
    x=int(input("enter the item"))
    a.append(x)

print(sum(a+b))
print(sum(a))
print(sum(b))

44
34
10

In [ ]:
books.remove ("the final empire")

In [21]:
words=['ramayan',
       'mahabhart',
       'geeta',]




def safe_remove(val_to_remove):
    if val_to_remove in words:
        words.remove(val_to_remove)
        print(f'üëç{val_to_remove} remove from list')
    else:
        print(f'{val_to_remove} not found')

In [27]:
safe_remove('geeta')

geeta not found

In [28]:
safe_remove('the find empire')

the find empire not found

In [30]:
output=words.pop(1)#remove last elment
print(output)
print(words)

mahabhart
['ramayan']

In [34]:
#clear means  all words are remove and got the output is empty 
words.clear()
print(words)

[]