- create
- indexing and slicing
- methods
- basic operation
- comprehension

In [ ]:
x=[]
a=[1,2,4,6]
b=['alex','alexa','alexis']
e=['alex',12,'alexa',20,'alexis',38,]
c=[[1,2,3,4],[1,2],[1,3,4,4]]#nested list
d=[[1,2,3],[2,3,4],[1,2,3]]#nested list (equal length)

In [ ]:
w=[1]*10#duplication
print(w)

w2=[1,2,3]*3
print(w2)

In [4]:
a=[1,2,3]
b=[4,5,6]
c=a+b# list contenation
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
d=[a,b]# nested list
print(d)

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
print(x[:3])
print(x[-4:])#last 4 items
print(x[3:-3])
print(x)
print(x[:-1])
print(x[::2])#all elements with odd index
print(x[1::2])#all element with even index

In [ ]:
print(x[0])
print(x[-1])#last element
#print(x[12])#error

In [ ]:
"one for all".split()#split string into list

In [ ]:
for i in x:
    print(i,end=' ')

methods
- add
    - append
    - extend
    - insert
- remove
    - remove
    - pop
    - clear
- helper
     - index
     - count
     - sort
     - reverse
     - copy

In [ ]:
books=[]
books.append("the final empire")
books.append("the hero of ages")
books.append(" let us python")
print(books)

In [ ]:
books.insert(1,'the way of kinds')
books.insert(2,'word of radiance')
print(books)

In [ ]:
crappy_books=[
    'twilight saga: new moon',
    'twilight saga: eclipse',
    'the wheel of time',
]
print(crappy_books)

In [ ]:
#extend function are combine the all elements. 
books.extend(crappy_books)
print(books)

In [ ]:
nums=[1,2,3]
more_nums=[4,5,6,7]
nums.extend(more_nums)
print(nums)

In [ ]:
num_matrix=[nums,nums,nums]
print(num_matrix)

In [ ]:
all_num=nums + more_nums
print(all_num)

In [3]:
a=[]

for i in range(5):
   x=input("enter the number")

   a.append(x)
print(a)

['8', '8', '9', '6', '5']

In [2]:
a=[]
b=[1,2,3,4]
#d=[7,8,9,19]
for i in range(5):
    x=int(input("enter the item"))
    a.append(x)

print(sum(a+b))
print(sum(a))
print(sum(b))

50
40
10

In [ ]:
books.remove ("the final empire")

In [ ]:
words=['ramayan',
       'mahabhart',
       'geeta',]




def safe_remove(val_to_remove):
    if val_to_remove in words:
        words.remove(val_to_remove)
        print(f'ðŸ‘{val_to_remove} remove from list')
    else:
        print(f'{val_to_remove} not found')

In [ ]:
safe_remove('geeta')

In [ ]:
safe_remove('the find empire')

In [ ]:
output=words.pop(1)#remove last elment
print(output)
print(words)

In [ ]:
#clear means  all words are remove and got the output is empty 
words.clear()
print(words)

In [ ]:
#helper
x=['a1','b2','a1','a1','b2',]
print(x.count('a1'))

In [ ]:
x.sort()
print(x)

In [ ]:
x.sort( reverse=True)
print(x)

In [ ]:
a=[1,3,4,6]
a.reverse()
print(a)

In [ ]:
words=['app','aam','advocate','aeroplane']
words.sort()
print(words)
words.sort(reverse=True)
print(words)
words.sort(key=len)
print(words)
words.sort(key=len,reverse=True)

In [ ]:
words.index('app')

In [ ]:
words_copy1=words#copy by references
words_copy2=words.copy()

In [ ]:
words_copy1 is words

In [1]:
x=[1,2,3]
y=x
x.append(4)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]

In [ ]:
x=[1,2,3]
y=x.copy()# copy by value
y.append(4)
print(x)
print(y)

In [ ]:
#gernating a list of number from existing list
x=[1,2,3,4,5]
y=[]
for i in x:
    x=i**2
    y.append(x)
print(y)

#list comprehension
syntax:
```
new_list=[operation for item in list]
```
list comprehension with condition
- new_list=[operation from item in list if expression]

In [ ]:
y=[i**2 for i in x]
print(y)

In [26]:
a=[1,2,3,4,5,6,7,8,9,10]
a_odd=[i for i in a if i%2!=0]
print(a)
print(a_odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [27]:
a=[1,2,3,4,5,6,7,8,9,10]
a_even=[i**3 for i in a if i%2!=0]
print(a)
print(a_even)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 27, 125, 343, 729]

In [1]:
list1=[1,3,4,2]
x=list1.pop(2)
print(set([x]))

{4}

In [2]:
if str1="johan,simon,Aryan"
print(str1[-7,-12])

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2001377152.py, line 1)

In [3]:
tupl=()
tupl1=tupl*2
print(len(tupl1))

0

In [4]:
tupl=([2,3],"abc",0,9)
tupl[0][1]=1
print(tupl)

([2, 1], 'abc', 0, 9)

In [9]:
dict1={"a":1,"b":2,"c":3}
dict1["a"]=5

In [22]:
ans=input("the capital of canda is?")
if(ans=="ottawa"):
     
   print("you are wise")

else:
   print("you are ignorant")

you are wise

In [11]:
tuple1=(2,4,3)
tuple3=tuple1*2
print(tuple3)

(2, 4, 3, 2, 4, 3)

In [13]:
print 0.1 +0.2==0.3?

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2454815034.py, line 1)

In [14]:
dict={"joey":1,"rachel":2}
dict.update({"phoebe":2})
print(dict)

{'joey': 1, 'rachel': 2, 'phoebe': 2}

In [15]:
str1="aplication"
str2=str1.replace('a','A')
print(str2)

AplicAtion

In [16]:
str1="stack of books"
print(len(str1))

14

In [18]:
print("Hello"+2+"world")

TypeError: can only concatenate str (not "int") to str

In [20]:
dict1={"a":10,"b":2,"c":3}
str1=""
for i in dict1:
    str1=str1+str(dict1[i])+" "
    str2=str1[:-1]
print(str2[::-1])

3 2 01

In [1]:
s='foobar'
print(s[::-1][::-5])

fr

In [4]:
list1=[6,23,3,2,0,9,8,75]
print(list1[1:7:2])

[23, 2, 9]

In [5]:
print(list1[0:7:2])

[6, 3, 0, 8]

In [6]:
print(list1[1:8:2])

[23, 2, 9, 75]

In [11]:
str1="john,Simon,Aryan"
#print(str1[-7:-12])
#print(str1[-11:-7])
print(str1[-11:-6])

Simon

In [15]:
list1=[80,66,94,87,99,95]
print(sum(list1)/len(list1))

86.83333333333333

In [17]:
print(sum(list1)/size of(list1))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1033687850.py, line 1)

In [18]:
print(total(list1)/len(list1))

NameError: name 'total' is not defined

In [19]:
'p' + 'q' if '12'.isdigit() else 'r'+'s'

'pq'